<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Alert" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>

  <!-- Alert settings -->
  <Alert server="smtphub07.conti.de" port="25" listeners="claudiu.tudor@continental-corporation.com" attchments="app.config;log4net"/>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
